<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="navbar">
            <p class="nav-brand">SKABBOT</p>
            <div class="nav-user">
                <p class="nav-user-name">Hii Bhupii...</p>
                <i class="fa-regular fa-user"></i>
            </div>
        </div>
        <div class="cont-container">
            <div class="chat">
                <div class="message-area">
                    <div class="msg-user">Hi</div>
                    <div class="msg-bot">Hello!, Welcome to SKABBOT 😀.</div>
                    <div class="msg-user">How are you?</div>
                    <div class="msg-bot">I am Fine, Are you feeling good today? 😊.</div>
                </div>
                <div class="message-bar">
                    <form action="/chat/process" method="post">
                        <input type="text" name="prompt" placeholder="Say Hi!">
                        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>     
        </div>
    </div>
    <script src="chat.ejs"></script>
</body> 
</html>